.header {
    background-color: black;
    color: #ffff;
    padding: 1em;
    text-align: center;


}

.nav {
    background-color: rgb(117, 132, 132);
    padding: 1em;
    display: flex;
    justify-content: space-around;
}



.flex-container {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-around;
}

.flex-container>.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container>.map {
    flex-direction: row;
}

.sidebar {
    background-color: white;
    padding: 10px;
    float: right;
}

footer {
    background-color: rgb(38, 44, 44);
    color: palevioletred;
    display: flex;
    justify-content: center;
    padding: 1em;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 60%;
    border-left: none;
    height: 100px;
    display: none;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 768px) {
    .flex-item {
        flex-basis: calc(50% - 20px);
    }
}